.pet-header-content {
  @apply flex flex-col justify-center items-center w-auto h-[314px] bg-[#29C254] bg-cover bg-center bg-[url('../../assets/images/landscape-mobile.webp')] lg:bg-bottom lg:bg-[url('../../assets/images/landscape-tablet.webp')] xl:bg-[url('../../assets/images/landscape.webp')]
}

.pet-header-image {
  width: 102px;
  height: auto;
}

.pet-header-logo {
  width: auto;
  height: 45px;
}

.pet-header-filter {
  @apply flex justify-between items-center p-6 h-[96px] bg-white shadow-lg rounded-2xl -mt-[47px]
}

.pet-header-filter h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.pet-header-filter--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  padding: 12px;
  background: #28C254;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: all 0.2s ease;
}

.pet-header-filter--button:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.pet-header-filter--button-icon {
  width: 20px;
  height: auto;
}