.pet-detail-background {
  @apply flex flex-col justify-start items-center relative bg-cover bg-center h-[330px] w-full z-0 lg:h-[548px]
}

.pet-detail-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.pet-detail-image {
  @apply w-[65px] h-auto lg:w-[103px];
}

.pet-detail-icon {
  @apply h-[30px] w-auto;
}

.pet-detail-zone {
  @apply relative mx-8 -mt-[145px] bg-white rounded-lg flex flex-col justify-center lg:mx-auto
}

.pet-detail-slider {
  overflow: hidden;
  height: 400px;
  border-radius: 8px;
}


.pet-detail-slider .slick-dots {
  bottom: 12px !important;
}

.pet-detail-slider .slick-dots li {
  margin: 0 !important;
}

.pet-detail-slider .slick-dots li,
.pet-detail-slider .slick-dots li button,
.pet-detail-slider .slick-dots li button:before {
  font-size: 12px !important;
  width: 20px !important;
  height: 20px !important;
}

.pet-detail-slider .slick-dots li button:before {
  opacity: .4;
  color: #fff;
}

.pet-detail-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}

.pet-detail-test {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: #ececec;
}

.pet-detail-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 20px 0px 20px;
}

.pet-detail-description h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.pet-detail-description span {
  width: 100%;
  word-break: break-word;
  font-size: 20px;
  font-weight: 400;
}


.pet-detail-description--status {
  display: block;
  position: relative;
  margin: 0px 0px 0px 12px;
  font-weight: 300;
  font-size: 16px;
  color: #918b8b;
}

.pet-detail-description--status::before {
  position: absolute;
  font-family: 'slick';
  content: '•';
  font-size: 8px;
  left: -12px;
  top: 6px;
  color: #28c254;
}

.pet-detail-description--status-done::before {
  color: red;
}

.pet-detail-tags {
  padding: 40px 0px 0px 0px;
  color: #28C254;
}

.pet-detail-tags span {
  font-weight: 600;
  padding-right: 4px;
}

.pet-detail-resume {
  margin-top: 20px;
}

.pet-detail-back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0px;
}

.pet-detail-footer {
  margin-top: 32px;
}